*{
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}

header{
    font-family: 'Abril Fatface', cursive;
    background-color: #fff; 
    margin: 0 0 -10px 0;
    border-bottom: 4px solid #301D6E;
    font-size: 
}

h1 { 
    font-size: 4.2rem;
    line-height: 110%;
    margin: 5px 5px 20px 5px;
}

img{
        width:107px;
        margin-top: 15px;
    }

.headerRow { 
	margin-bottom: 0;
}

.red {
    background-color: #fff !important;  
    color: #FE0000 !important;
}

.blue {
    background-color: #fff !important; 
    color: #384BA7 !important;
}

.purple  {
    background-color: #fff !important; 
    color: #301D6E !important;
}

.lead {
    background-color: #fff !important; 
    color: #301D6E !important;  
    padding-bottom: 5px;
	font-size: 1.10em;
}

#currentTime {
    font-size: 0.8em;
}

h2{
    font-size: 24px;
}

input, select{
    width: 100%;
    border-radius:5px;
}
.container{
    text-align: center
}

#userMsg{
    font-weight: 900;
    font-size: 24px;
    margin-bottom:40px;
}        
#genderBox{
    height: 30px;  
}
#sourceBar{
    clear: both;
    margin-top:1px;
    height: 30px;
}
#showNews, #btn-ok{
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Abril Fatface', cursive;
}

.dropdown-content li>span{
    color: #000 !important;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #301D6E !important;
     box-shadow: 0 1px 0 0 #301D6E !important;
   }

.#sourceBar option {
     color: #301D6E !important;
   }   

/* body components ========================= */
.btnDiv{
    position:absolute;
    bottom: 15px;
    left:50%;
    
}
.toggle{
    position: relative;
    left:-50%;
    font-size: 13px;
    line-height: 13px !important;
    text-align: center;
    background-color: #9C90C1 !important;

}


.articleContainer{
    margin-top: 25px;
    margin-bottom: 20px;
}

.input-field{
    margin: 0 auto;
}
/* dynamic divs ========================= */


.card-image{
    width: 286px; 
    height: 180px;
}

.flip-containerL, .flip-containerR{
    perspective: 1000px;
    width: 300px;
    height: 480px;
}

#sourceTag{
    font-weight: 900;

}
.flip-containerL.hover .flipper{
    transform: rotateY(180deg);
}

.flip-containerR.hover .flipper{
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 470px;
    
}
.flipper {
    height: auto;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front{
    z-index:2;
    transform: rotateY(0deg);
    background: white;
}

.back {
    transform: rotateY(180deg);
    
}

.card .card-content{
    overflow-y: auto;
	padding: 5px 24px 14px 24px;
    border-radius: 0 0 2px 2px;
	line-height: 130%!important;
}

.card-text{
	height: 50px;
	overflow: hidden;
	line-height: 130%!important;
}

.card-title{
	line-height: 25px !important;
    font-size: 22px;
    text-align: left;
    height: 64px;
    margin-top: 15px;
    overflow-y: auto;
}

.card-title a {
	line-height: 25px !important;
	color: black;
    font-weight: 300;
    font-size: 22px;
}

.card-text, .secondLine{
    font-size: 13px;
    text-align: left;
}

.card-likes{
    font-size: 13px;
    text-align: center;
    line-height: 13px;
    margin-top: 20px !important;
    color:  #3b5998 !important;
}


.secondLine{
    color:grey;
    overflow-y: auto;
}

.otherArticles h3{
    font-size: 16px;
    text-decoration: underline;
}

/* buttons ========================= */

#newSearchButton,#chartButton{
    display:none;            
    margin: auto;
}

.btn {
    background-color: #6F6FAC !important;
}



.btnBox{
    text-align: center;
}

.buttonContainer{
    margin-top: 25px;
}

/* chart ========================= */

.chartContainer{
    display:none;                
    height: 600px;
    text-align: center;
}


#myChart p a{
    color: blue;
}

.chartInfo{
    border-top: 1px solid #9C90C1;
    margin-top: 5px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}

canvas,.canvasjs-chart-canvas, #myChart{
    border-radius: 5px;
    height: 400px !important;
    margin: auto;
    width: 100% !important;
}

.canvasjs-chart-credit{
    display:none !important;
}

/* START MODAL CSS =================== */

.modal-overlay {
    display: none;
    position: fixed;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20px;
}

.modal-content-1 {
    background-color: #fefefe;
    margin: 160px auto;
    padding: 20px;
    width: 70%;
    height: 400px;
    overflow-y: auto;
}

/* Modal Content ========================= */

.modal-content-2 {
    background-color: #fefefe;
    margin: 70px auto;
    padding: 5px;
    width: 60% !important;
    height: 500px;
}

/* The Close Button ========================= */

.close,
.optionalClose {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding: 0 0 0 5px;
   /* margin: 0 auto; */
    /*  margin-top: 10px; */
    font-family: 'Abril Fatface', cursive;
}

.modalCont2 {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.close:hover,
.close:focus,
.optionalClose:hover,
.optionalClose:focus {
    /* color: #000; */
    text-decoration: none;
    cursor: pointer;
}

/* Sticky Footer ========================= */

footer {
    clear: both;
    font-family: 'Abril Fatface', cursive;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100;
    padding: 1em 2.5em 2.5em 2.5em;
    text-align: center;
    font-size: 0.8em;
    border-top: 2px solid #9C90C1;
    background-color: #301D6E;
    color: #fff;
	
}

html, body {
  height: 100%;
  margin: 0;
}

.attribution {
	font-size: 80%;
	padding-top: 8px;
}

.attrib {
	color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

footer {
  height: 50px;
}

.push {
  height: 50px;
}
/*Media Queries*/

@media only screen and (max-width:992px) and (min-width: 600px){
    .card-title a{
        font-size: 18px;   
    }

} 

@media only screen and (max-width: 765px) and (min-width:600px){
    .card-image{
        width:200px;
        height:126px;   
    }
    .frToggle{
     height: 55px;
     bottom: 30px;
    }
} 

@media only screen and (max-width: 800px){
    .modal-content-2 {
    width: 90% !important;
    }

}

@media only screen and (max-width: 645px){
    .bkToggle{
        font-size: 10px;
    }
}


@media only screen and (max-width: 640px){
    .polImg{
        width: 50px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 600px){
    #chartButton{
        margin-top: 40px;
    }

    .polImg{
        display: none;
    }

    .chartInfo p{
        font-size: 12px;
    }

    
}


/*--------------*/